{
	"extends": ["airbnb"],
	"parser": "babel-eslint",
	"plugins": ["react"],
	"env": {
		"jasmine": true
	},
	"ecmaFeatures": {
		"arrowFunctions": true,
		"blockBindings": true,
		"templateStrings": true,
		"modules": true,
		"esnext": true
	},
  "rules": {
			"react/prop-types": 0,
			"react/jsx-indent-props": [0],
      "semi": [2, "always"],
      "quotes": [2, "single"],
			"no-console": [0],
			"no-trailing-spaces": [0],
			"space-before-function-paren": [2, "never"],
			"indent": [2, "tab"]
		}
}
