@import '../variables/colors';
@import '../variables/sizes';

.LandingPage {
	display: flex;
	height: $size-viewport-height;

	&-left {
		background-color: $color-grey-dark;
		display: flex;
		align-items: center;
		width: 70%;
	}

	&-right {
		background-color: $color-grey-light;
		width: 30%;
	}

	&-title {
		color: $color-main;
		word-spacing: 9999999px;
	}
}
