//--------------------------
//        Welcome
//--------------------------
.home {
	margin-left: 20%;
  margin-top: $margin-top-of-page;
  text-align: center;
	width: 60%;
}

  .home-title {
    color: $color-primary;
    font-family: $font-heading;
    font-size: 600%;
    font-weight: $font-heading-weight;
    padding-bottom: 5%;
  }

  .home-description {
    color: $color-primary;
    font-size: 150%;
    padding-bottom: 40px;
  }

  .home-navigation {
		display: flex;
		justify-content: space-around;
	}
