.quiz-navigation-box {
	background-color: $color-primary;
	border-radius: 15px;
}

.quiz-navigation-box-title {
	color: $color-secondary;
	font-family: $font-heading;
	font-size: 200%;
	font-weight: $font-heading-weight;
}

.quiz-navigation-box-input {
	width: 30px;
	color: #111;
}
