//--------------------------
//      Variables
//--------------------------
$color-primary: rgb(40, 40, 40);
$color-secondary: rgb(224, 224, 224);
$color-background: rgb(224, 224, 224);
$color-button-click: rgb(96, 96, 96);
$color-button-hover: rgb(176, 176, 176);
$color-radio-button: #111;
$color-radio-button-selected: #01ff70;
$color-question: #FFF;

$nav-button-margin-sides: 5%;
$nav-button-margin-top: 5%;
$site-wrapper-percent: 20%;
$margin-top-of-page: 8%;

$font-heading: 'Helvetica', 'Open Sans', sans-serif;
$font-heading-weight: 700;
