// FONT
$font-size-h2: 2.5rem;
$font-size-h3: 1.2rem;

// MARGIN
$margin-quiz-component: 5%;
$margin-quiz-name-bottom: 10%;
$margin-question-left: 2%;
$margin-question-text-bottom: 2.5%;
$margin-choice-left: 2%;

$padding-choice-text-left: 1%;
