.question {
	background-color: $color-primary;
	border-bottom: solid 6px $color-button-click;
	border-radius: 15px;
	display: block;
	margin-bottom: 2%;
	padding-left: 1%;
	text-align: left;
}

	.question-title {
		background-color: $color-button-click;
		border-bottom: solid 4px $color-secondary;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		color: $color-question;
		font-family: $font-heading;
		font-size: 250%;
		font-weight: $font-heading-weight;
		padding-left: 1%;
		margin-left: -1.2%;
	}

	.question-copy {
		color: $color-secondary;
		font-family: $font-heading;
		font-size: 200%;
		font-weight: bold;
	}
