.score {
  margin-bottom: 16px;
  margin-top: $margin-top-of-page;
  text-align: center;
}

  .score-title {
    font-size: 400%;
    padding-bottom: 40px;
  }

  .score-total {
    font-size: 200%;
    padding-bottom: 40px;
  }

  .score-number {
    border-bottom: solid $color-primary 3px;
  }

	.score-button-container {
	  display: flex;
		justify-content: space-around;
		width: 60%;
	}
