//--------------------------
//       Quiz Questions
//--------------------------
.take-quiz {
	margin-left: 20%;
  margin-top: $margin-top-of-page;
	width: 60%;
}

  .take-quiz-button-container {
    display: flex;
		justify-content: center;
  }
